body,html{
    height:100%;
}

.container{
    margin-bottom: 30px;
    margin-top: 30px;
}

.intro {
    height:100%;
    width:100%;
    display: table;
     background: linear-gradient(
        rgba(0,0,100,.5),
        rgba(0,0,25,0.4)
      ),
     url(img/balloon-3.jpg) no-repeat center;
    background-size: cover;

}
 .intro h1{
     font-size: 30px;
 }
 
 @media(min-wdith: 768px){
     .intro h1{
         font-size: 50px;
     }
 }
 
 @media(min-width: 992px){
     .intro h1{
         font-size: 70px;
     }
 }
 
  @media(min-width: 1200px){
     .intro h1{
         font-size: 90px;
     }
 }
.center-page{
    text-align: center;
    padding:5%;
    color: white;
    font-family: 'Slabo', san-serif;
}

.home{
    text-align: center;
    color: red;
    background:lightblue;
    font-size:30px;
    font-family: 'Slabo', san-serif;
}

@media(min-width: 768px){
    .img-rounded-hidden-md-down{
        visibility:hidden;
    } 
}

@media(min-width: 992px){
    .img-rounded-hidden-md-down{
        display:inline-block;
    } 
}

.page-header{
    color:black;
}

p{
    width: 30%;
    display:inline-block;
}

.img-rounded{
    display: inline-block;
    float:left;
}

#rounded1{
    display: inline-block;
    float:right;
}
